body{
  font-family: 'Montserrat', sans-serif;
}

header{
  background: #bbbbbb;
  padding: 20px 0;
}
.caixa{
  position:relative;
  width: 940px;
  margin:0 auto;
}
.produtos{
  width: 940px;
  margin: 0 auto;
  padding: 50px 0;
}
.produtos li{
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 10px;
}

.produtos li:hover{
  border-color: #c78c19;
}

.produtos li:hover h2{
  font-size: 35px;
}

.produtos li:active{
  border-color: green;
}

.produtos h2{
  font-size: 30px;
  font-weight: bold;
}

.produto-descriçao{
  font-size: 18px;
}
.produto-preço{
  font-size: 22px;
  font-size: bold;
  margin-top: 10px;
}
nav{
  position:absolute;
  top:110;
  right: 0;
}
nav li{
  display: inline;
  margin:0 0 0 15px;

}
nav a {
  text-transform: uppercase;
  color: 000000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;

}

nav a:hover{
  color: #c78c19;
  text-decoration: underline;
}
footer{
  text-align: center;
  background: url("bg.jpg");
  padding: 40px 0;
}

.copyright{
  color: white;
  font-size: 13px;
  margin-top: 20px;

}

main{


}
form {
  margin: 40px 0;
}

form label, form legend{
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
  }

.input-padrao{
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
}

.checkbox{
  margin: 20px 0;
}

.enviar{
  width: 40%;
  padding: 15px 0;
  background: orange;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  transition: 1s all;
  cursor: pointer;
}

.enviar:hover{
  background: darkorange;
  transform: scale(1.2);
}

table{
  margin: 20px 0 40px;

}

thead{
  background: #555555;
  color: white;
  font-weight: bold;
}
td, th{
  border: 1px solid #000000;
  padding: 8px 15px;
}

/* CSS da pagina inicial*/
.banner{
  width: 100%;
}

.itens::before{
content: "★";
padding-right: 3%;
}

.titulo-principal{
  text-align: center;
  font-size: 2em;
  margin: 0 0 1em;
  clear:left;
}

.titulo-principal:hover{
  color: rgba(0,0,0,30%);
  text-shadow: 2px 2px 1px rgb(0, 0, 0);
  transition:300ms;
}

.principal{
  padding:3em 0;
  background: #fefefe;
  width: 940px;
  margin: 0 auto;
}

.principal p {
  margin: 0 0 1em;

}

.principal strong{
  font-weight: bold;
}

.principal em {
  font-style: italic;
}
.imagem-beneficios{
  width: 60%;
  opacity: 90%;
  transition: 400ms;
}
.imagem-beneficios:hover{
  opacity: 70%;
  box-shadow: 15px 15px 8px #000000;
  transition: 400ms;
}

.conteudo-beneficios{
  width: 640px;
  margin: 0 auto;
}
.beneficios{
  padding: 3em 0;
  background: #888888;

}
.lista-beneficios{
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.itens{
  line-height: 1.5em;

}
.itens:nth-child(1){
  font-weight: bold;
}
.utensilios{
  width: 120px;
  float: left;
  margin:0 20px 20px 0;
}
.mapa{
  padding: 3em 0;
  background:linear-gradient(#fefefe, #888888);

}
.mapa-conteudo{
  width: 940px;
  margin: 0 auto;
}
.mapa p {
  margin: 0 0 2em;
  text-align: center;
}
.video{
  width: 560px;
  margin: 2em auto;
}

@media screen and (max-width: 480px){
.caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video{
  width: auto;
}
h1{
  text-align: center;
}
nav{
  position: static;
}
.lista-beneficios{
  width: 100%;
}
.video{
  margin: 10px;
}
.imagem-beneficios{
  width: 92%;
  margin-left:10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
}
